body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  color: rgb(18, 28, 45);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  color: white;
  background: rgb(6, 3, 58);
  width: 100%;
  box-shadow: 0px 2px 6px 0px rgba(75, 86, 113, 0.2);
}

.container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

#twilio-logo,
.built-by {
  display: flex;
  align-items: center;
}

.detail {
  display: flex;
}

#twilio-logo > a {
  display: flex;
  width: 30px;
  height: auto;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1rem;
  fill: white;

  @media (max-width: 768px) {
    padding-right: 1rem;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  border-left: 1px solid rgba(255, 255, 255, 0.2);

  @media (max-width: 768px) {
    display: none;
  }
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  width: 85%;
  margin: 0 auto 4rem auto;
  padding-top: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  color: #94979b;
  background: rgb(6, 3, 58);
  box-shadow: 0px 2px 6px 0px rgba(75, 86, 113, 0.2);
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: auto;
}

footer .container {
  align-items: flex-start;

  @media (max-width: 768px) {
    display: none;
  }
}

.built-by span {
  margin-right: 0.5rem;
}

footer > span {
  text-align: center;
  font-style: italic;
  margin-bottom: 3rem;
  font-size: x-large;
  font-weight: 200;

  @media (max-width: 768px) {
    font-size: inherit;
  }
}

.links {
  display: flex;
  flex-direction: row;
}

.links a {
  text-decoration: none;
  color: #94979b;
  margin-right: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 60%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

input[type="text"] {
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgb(136, 145, 170);
  padding: 0.5rem;
}

input[readonly="true"] {
  background-color: rgb(244, 244, 246);
}

input[type="submit"] {
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border: 1px solid;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

input,
select {
  font: inherit;
  border: 1px solid rgb(136, 145, 170);
  border-radius: 4px;
  padding: 0.6rem;
  margin-bottom: 0.6rem;
}

.helper {
  margin-top: 0;
  font-style: italic;
  color: gray;
}

#flash-msg {
  display: none;
}

.flash {
  border: 1px solid;
  border-radius: 4px;
  padding: 0.6rem;
  margin-top: 14px;
}

.error {
  border-color: #f5c6cb;
  background-color: #f8d7da;
  color: #721c24;
}

.success {
  border-color: #c3e6cb;
  background-color: #d4edda;
  color: #155724;
}

.info {
  border-color: #bee5eb;
  background-color: #d1ecf1;
  color: #0c5460;
}

.mobile-list {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}

th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

#delete {
  width: 100%;
  padding: 0.5rem;

  background-color: #f8d7da;
  border: 1px solid #c07971;
  border-radius: 4px;
  color: #721c24;
  cursor: pointer;
}

pre {
  border: 1px solid #d3d3d3;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 1rem;
  overflow: auto;
  width: 70%;
  margin-top: 0;
  margin-right: 2rem;

  @media (max-width: 768px) {
    width: 100%;
    margin-right: 0;
  }
}

aside {
  flex: 1;

  @media (max-width: 768px) {
    display: none;
  }
}

.external-link {
  width: 20px;
  height: 20px;
  filter: invert(100%);
  margin-right: 0.2rem;
}

.devs-logo {
  height: 20px;
  width: auto;
}
