header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: white;
}

#nav a:not(:last-child) {
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid rgb(136, 145, 170);
}

main {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

input,
select {
  font: inherit;
  border: 1px solid rgb(136, 145, 170);
  border-radius: 4px;
  padding: 0.6rem;
}

.flash {
  border: 1px solid;
  border-radius: 4px;
  padding: 0.6rem;
  margin-top: 14px;
}

#client-flash {
  display: none;
}

.error {
  border-color: #f5c6cb;
  background-color: #f8d7da;
  color: #721c24;
}

.success {
  border-color: #c3e6cb;
  background-color: #d4edda;
  color: #155724;
}

#json-response {
  display: none;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 1rem;
}
