<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>*Demo* Twilio Verify Passkeys</title>
    <link
      rel="icon"
      href="https://twilio-labs.github.io/function-templates/static/v1/favicon.ico"
    />

    {% block styles %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="{{ url_for('static', filename='webauthn.js') }}"></script>
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="container">
        <div id="twilio-logo">
          <a href="/">
            <svg
              class="logo"
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              viewbox="15 15 30 30"
              width="30"
              height="30"
            >
              <title>Twilio Logo</title>
              <path
                class="cls-1"
                d="M30,15A15,15,0,1,0,45,30,15,15,0,0,0,30,15Zm0,26A11,11,0,1,1,41,30,11,11,0,0,1,30,41Zm6.8-14.7a3.1,3.1,0,1,1-3.1-3.1A3.12,3.12,0,0,1,36.8,26.3Zm0,7.4a3.1,3.1,0,1,1-3.1-3.1A3.12,3.12,0,0,1,36.8,33.7Zm-7.4,0a3.1,3.1,0,1,1-3.1-3.1A3.12,3.12,0,0,1,29.4,33.7Zm0-7.4a3.1,3.1,0,1,1-3.1-3.1A3.12,3.12,0,0,1,29.4,26.3Z"
              />
            </svg>
          </a>
          {% if session.get('logged_in') %}
          <span>Ahoy {{session.get('username', '')}}!</span>
          {% else %}
          <span>A passkey demo</span>
          {% endif %}
        </div>
        <nav>
          <a href="/passkeys">Passkeys</a>
          {% if session.get('logged_in') %}
          <a href="/logout">Logout</a>
          {%else%}
          <a id="login" href="/login">Login</a>
          {% endif %}
        </nav>
      </div>
    </header>
    <main>
      <div id="flash-msg" class="flash"></div>
      {% with messages = get_flashed_messages(with_categories=true) %} {% for
      category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %} {% endwith %} {% block content %}{% endblock %}
    </main>
    <footer>
      <span>We can't wait to see what you build.</span>
      <div class="container">
        <div class="links">
          <a href="https://www.twilio.com/en-us/blog/passkeys-101"
            >Passkeys 101</a
          >
          <a href="https://www.twilio.com/docs/verify">API Docs</a>
          <a href="https://github.com/robinske/python-flask-passkeys"
            >Demo code</a
          >
        </div>
        <div class="built-by">
          <span>Built by</span>
          <img
            class="devs-logo"
            src="{{ url_for('static', filename='devs-logo.png') }}"
          />
        </div>
      </div>
    </footer>
    <script
      type="module"
      src="{{ url_for('static', filename='scripts.js') }}"
    ></script>
  </body>

  {% block scripts %} {% endblock %}
</html>
