{% extends "base.html" %} {% block content %}

<table>
  <tr>
    <th>Challenge SID</th>
    <th>Identity</th>
    <th>Status</th>
    <th>Created At</th>
    <!-- <th>Details</th> -->
  </tr>
  {% for challenge in challenges %}
  <tr>
    <td>{{challenge['sid']}}</td>
    <td>{{challenge['entity_identity']}}</td>
    <td>{{challenge['status']}}</td>
    <td>{{challenge['date_created']}}</td>
    <!-- <td><pre>{{challenge | tojson_pretty }}</pre></td> -->
  </tr>
  {% endfor%}
</table>
{% endblock %}
